<%
relevant_offers = all_offers = Offers.by_listing(listing._id) || []
if !is_owner 
  #get only this user's offers. 
  relevant_offers = all_offers.select {|o| (o.user_id == user_id) && user_id } || []  
end

%>  


  <offersArea>            
        <section class="content-29">
                <div class="container">
                  <% if !is_owner && !relevant_offers.any? %>
                    <div class="col-md-2"></div>

                    <div id="newOffer" class="col-md-8">
                        <h3>Make an Offer</h3>
                        <form id='newOfferForm'>
                              <input type="hidden" name="listing_id" value='<%= listing._id %>'>
                              <% unless user_email %>                       
                              <div class="input-group">                        
                                  <span class="input-group-addon">Name</span>
                                  <input type="text" name="name" class="form-control" placeholder="Your name (optional)">
                              </div>

                              <div class="input-group">                                   
                                  <span class="input-group-addon">Your Email</span>
                                  <input type='email' name="email" class="form-control" placeholder='your email' required></input>                                  
                              </div>
                              <% end %>                                                            
                              <div class="input-group">                        
                                  <span class="input-group-addon">Details</span>
                                  <textarea name="details" class="form-control" placeholder="Convince the customer to pick you! Send a personal message here to the buyer - include your offer, details about you, your personal phone number - whatever you want." style="resize:none" maxlength="280" rows=5 required></textarea>
                              </div>

                              <div class="input-group">                        
                                  <span class="input-group-addon">Price</span>
                                  <input type="text" name="price" class="form-control" placeholder="How much will you be asking? (optional)">
                              </div>
                              
                              <button class="btn btn-info input-group wide">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                    <% end %>

                  <%if relevant_offers.any? %>
                            <div class="col-sm-8 col-sm-offset-2">
                              <h3>Offers</h3>        
                            </div>

                            <offers id='offers' class='row features'>
                    <% (relevant_offers).each do |offer| %>                              
                      <% user = Users.get(offer.user_id) %>
                            <div class='col-sm-3 offer'>
                                <img src="../../common-files/icons/Chat@2x.png" alt="" width="100" height="100">
                                <h6><a href="/user/<%= offer.user_id %>">  <%= user.name.to_s+' ('+user.email.to_s+')' %> </a></h6>
                                <% if offer.price %> <div>Offered Price: <%= offer.price %></div> <% end %>
                                <%= offer.details %>                                
                                <div class='conversation'>
                                  <% Messages.by_offer(offer._id).each do |msg | %>
                                  <%= erb :message, locals: locals.merge({msg: msg, offer: offer}) %>
                                  <% end %>
                                </div>
                                <form id='newOfferMessage'>
                                    <textarea offer_id=<%=offer._id%> onkeydown='ifEnter(offers.addMsg)' aria-describedby="helpBlock" placeholder="Write a comment..."></textarea>
                                    <span id="helpBlock" class="help-block">(Press 'Enter' to submit)</span>
                                </form>
                            </div>
                    <% end %>
                  </offers>
                  </div>

                <% elsif is_owner %>
                  <section class="content-29">
                          <div class="container">
                            <div class="col-sm-8 col-sm-offset-2">
                                  <%= erb :working_on_it, locals: locals %>
                            </div>
                  </section>  
                <% end %>
        </section>
        

        
  </offersArea>