<% 
tg = target_user 
tg.email ||= tg.contact

locals.reviews_of_user = reviews_of_user = Reviews.of_target(tg._id)
prop_title = {
    name: 'Name',
    #img: 'Main Photo',
    desc: 'Description',
    total_score: 'Total Score',
    num_reviews: 'Reviews Count',    
    website: 'Website',
    fb_page: 'FB page',
    email: 'Email',
    phone: 'Phone'
}
prop_text = { #or mkup
    desc: tg.desc,
    #img: '<img src="'+tg.img+'">',
    total_score: 10+20,
    num_reviews: reviews_of_user.size.to_s+' reviews',
    website: "<a target='_blank' href=#{tg.website}>#{tg.website}</a>",
    fb_page: "<a target='_blank' href=#{tg.fb_page}>#{tg.fb_page}</a>" 
}

def should_skip(p,u) #property, user
    tg = u #target user
    p = p.to_sym
    return !tg[p.to_s] if OPTIONAL_PROPS.include? p
    return false
end

OPTIONAL_PROPS = [:img, :name, :desc, :email, :phone, :website, :fb_page]

props = prop_title.merge(prop_text).keys
#To add: address, reviews given, #offers made, time on site, verifications
%>
<user-page id='userPage'>
<input type='hidden' value='<%=tg._id%>' id='target_user_id'>

<div class="features">
                    <div class="container">                        
                        <div class="row">
                            <% props.each do |prop| %> 
                                <% next if should_skip(prop,tg) %>
                                <div class="col-sm-4">
                                    <h6><%= prop_title[prop] || prop %></h6>
                                    <%= prop_text[prop] || tg[prop.to_s] %>
                                </div>
                            <% end %>
                        </div>

                    <%= erb :user_reviews, locals: locals %>                        

                    <% if user && target_user._id == user._id %>
                        <%= erb :edit_user_data_form, locals: locals %> 

                        <% locals.listings = Listings.find_by({user_id: user_id}) %>
                        <%= erb :user_listings, locals: locals %>
                    <% end %>                    
                    </div end-container>
</div>

        
      

</user-page id='userPage'>