<% 
 title_suffix = !listing.any? ? '' : (is_owner ? ' - Your ' : ' - ') + 'Request: '+listing.title
 title = 'ClassyPie' + title_suffix
%>
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <post-listing class="col-md-6">            
            <form id="postForm">            
                <div class="row">
                    <input type="hidden" name="id" value='<%=listing._id%>'>
                    <div class="col-md-12"><h1><a href="/"><%= title %></a></h1></div>                    
                </div>
           
                <div class="row">
                    <div class="col-md-12">                            
                            <div class="input-group">                        
                                <span class="input-group-addon">I'm looking for</span>
                                <input type="text" name="title" class="form-control" placeholder="a plumber" value='<%=listing.title%>'>
                            </div>
                    </div>
                </div>

                <div class="row optionsRow structuredOptionsRow">
                    <div class="col-md-12">                        
                        <div class="input-group">                        
                                <span class="input-group-addon">Where?</span>
                                <input type="text" name="where" class="autocompleteAddress form-control" onFocus="geolocate()" value="<%=listing.where %>" placeholder='Your location'>
                        </div>
                    </div>

                    <!-- <div class="col-md-3">                        
                        <div class="input-group">                        
                                <span class="input-group-addon">When?</span>
                                <input type="text" name="when" class="form-control datepicker" value="<%=listing.when%>">
                        </div>
                    </div>

                    <div class="col-md-3">                        
                        <div class="input-group">                        
                                <span class="input-group-addon">For About</span>
                                <input type="text" name="for_about" class="form-control" value='<%=listing.for_about%>'>
                                <span class="input-group-addon">$</span>
                        </div>
                    </div>                     -->
                </div>
                  
                <div class="row optionsRow">  
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">Details (optional)</span>
                            <textarea name=details class="form-control custom-control" rows="4" style="resize:none" placeholder='What exactly are you looking for? The more details you give, the more specific your matches will be. Feel free to include any specific requirements or preferences.'><%=listing.details%></textarea> 
                        </div>
                    </div>         
                </div>       
                
                <div class="row optionsRow">  
                    <div class="col-md-12">                                                    
                            <div class="input-group">                        
                                <% if !user_email %>
                                <span class="input-group-addon">My email</span>
                                <input type="text" name="contact" class="form-control" placeholder="you@gmail.com">
                                <% end %>

                                <% if !listing._id %>
                                <span class="input-group-btn">
                                    <button id="submitListing" class="btn btn-primary" style='width: 100%'>
                                        Submit
                                    </button>
                                </span>
                                <% end %>                                
                            </div>
                    </div>     
                </div>       
                

            </form>
        </post-listing>
        <div class="col-md-3"></div>
    </div> <!-- end form -->
    
    <%= erb :offers, locals: locals %>
        
    