<% @listing = @listing || {} %>
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <post-listing class="col-md-6">            
            <form id="postForm">            
                <div class="row">
                    <input type="hidden" name="id" value='<%=@listing._id%>'>
                    <div class="col-md-2 col-offset-5"><h1><a href="/">ClassyPie</a></h1></div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">                            
                            <div class="input-group">                        
                                <span class="input-group-addon">I'm looking for</span>
                                <input type="text" name="title" class="form-control" placeholder="a plumber" value='<%=@listing.title%>'>
                            </div>
                    </div>
                </div>

                <div class="row optionsRow">
                    <div class="col-md-4">                        
                        <div class="input-group">                        
                                <span class="input-group-addon">Where?</span>
                                <input type="text" name="where" class="form-control" value="<%=@listing.where %>">
                        </div>
                    </div>

                    <div class="col-md-4">                        
                        <div class="input-group">                        
                                <span class="input-group-addon">When?</span>
                                <input type="text" name="when" class="form-control" value="<%=@listing.when%>">
                        </div>
                    </div>

                    <div class="col-md-4">                        
                        <div class="input-group">                        
                                <span class="input-group-addon">For About</span>
                                <input type="text" name="for_about" class="form-control" value='<%=@listing.for_about%>'>
                                <span class="input-group-addon">$</span>
                        </div>
                    </div>                    
                </div>
                  
                <div class="row optionsRow">  
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">Details</span>
                            <textarea name=details class="form-control custom-control" rows="4" style="resize:none"><%=@listing.details%></textarea> 
                        </div>
                    </div>         
                </div>       

                <div class="row optionsRow">  
                    <div class="col-md-12">                            
                            <div class="input-group">                        
                                <span class="input-group-addon">Let me know at</span>
                                <input type="email" name="contact" class="form-control" placeholder="you@gmail.com or @yourTwitter" value='<%=@listing.contact%>'>
                                <span class="input-group-btn">
                                    <% if !@listing._id %>
                                    <button id="submitListing" class="btn btn-primary">
                                        Submit
                                    </button>
                                    <% end %>
                                </span>
                            </div>
                    </div>     
                </div>       

            </form>
        </post-listing>
        <div class="col-md-3"></div>
    </div> <!-- end form -->
        
    <%= erb :offers %>
        
    