<%
relevant_offers = all_offers = Offers.by_listing(listing._id) || []
if !is_owner 
  #get only this user's offers. 
  relevant_offers = all_offers.select {|o| (o.user_id == user_id) && user_id } || []  
end

%>  

  <offersArea>    
    <% if listing.any? && !is_owner && !relevant_offers.any? %>
      <div class="col-md-3"></div>

      <div id="newOffer" class="col-md-6">
          <h3>Make an Offer</h3>
          <form id='newOfferForm'>
                <div class="input-group">                        
                    <span class="input-group-addon">Who are you?</span>
                    <input type="text" name="name" class="form-control" placeholder="Your name">
                </div>

                <div class="input-group">                        
                    <span class="input-group-addon">Price (optional)</span>
                    <input type="text" name="price" class="form-control" placeholder="How much will you be charging?">
                </div>

                <div class="input-group">                        
                    <span class="input-group-addon">Details</span>
                    <textarea name="details" class="form-control" placeholder="Convince the customer to pick you! Add your offer, details about you, your personal phone number - whatever" style="resize:none" maxlength="280"></textarea>
                </div>

                <div class="input-group">                        
                    <span class="input-group-addon">Contact via</span>
                    <input name="contact" value='<%= user_email %>' class="form-control" placeholder="your email/phone"></input>
                </div>

                <button type='button' class="input-group" onclick='offers.addOffer()'>Submit</button>
          </form>
      </div>
      <div class="col-md-3"></div>
      <% end %>
      
      <% if relevant_offers.any? %>
        <h2 class='col-md-12'>Offers</h2>
        <div id='offersListContainer' class="col-md-12">          
          <offers class='col-md-12'>
            <% (relevant_offers * 5).each do |offer| %>                              
                <div class='offerContainer col-md-4'>
                  <div class='offer bg-info'>
                      <p><a href="/user/<%= offer.user_id %>">  <%= offer.name %> </a></p>
                      <% if offer.price %> <p>Price: <%= offer.price %></p> <% end %>
                      <p>Details: <%= offer.details %></span></p>
                      <p>Contact: <%= offer.contact %> </span></p>
                      <% Messages.by_offer(offer._id).each do |msg | %>
                        <%= erb :message, locals: locals.merge({msg: msg, offer: offer}) %>
                      <% end %>
                      <form id='newOfferMessage'>
                          <textarea offer_id=<%=offer._id%> onkeydown='ifEnter(offers.addMsg)' aria-describedby="helpBlock" placeholder="Write a comment..."></textarea>
                          <span id="helpBlock" class="help-block">(Press 'Enter' to submit)</span>
                      </form>
                  </div>
                </div>                        
            <% end %>
          </offers>
        </div>
      <% elsif is_owner && listing.any? %>
        <div class="col-md-12">
          <div class="col-md-3"></div>
          <div class="col-md-5"> 
            <%= erb :working_on_it, locals: locals %>
          </div>  
          <div class="col-md-4"></div>
        </div>>
      <% end %>
  </offersArea>